body {
    background: #232834;
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    text-decoration: none;
    padding: 0.5rem;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #70ad47;
    color: whitesmoke;
}

.button:hover {
    background: #f7ba01;
    color: #000
}

.button:active {
    background: #fff
}